- name: Docker Hub Description
    uses: peter-evans/dockerhub-description@v2.1.0
    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      DOCKERHUB_REPOSITORY: 22116/clipboard-translator